@model ADI_FORMS.ViewModels.EndOfMonthViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "EOM"))
{
    @Html.Partial("_BreadCrumb")
    <section>
        <!-- </div>  -->
        <div class="container panel-body">
            <div class="row justify-content-center">
                <div class="media-container-column col-lg-12">
                        <div class="row row-sm-offset">
                           @* <div class="col-md-12"> *@
                            <div class="col-12">
                                @*<div class="col-md-6">*@
                                    <div class="col-6">
                                    <!--tab start-->

                                    <div class="col-sm-3 multi-horizontal">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EndOfMonth.MonthsId)
                                            @Html.DropDownListFor(m => m.EndOfMonth.MonthsId, new SelectList(Model.Month, "Id", "Name"), "Select Month", new { @class = "form-control dro" })
                                            @Html.ValidationMessageFor(m => m.EndOfMonth.MonthsId)
                                        </div>
                                    </div>

                                    <div class="col-sm-3 multi-horizontal">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EndOfMonth.FinancialYear)
                                            @Html.TextBoxFor(m => m.EndOfMonth.FinancialYear, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.EndOfMonth.FinancialYear)
                                        </div>
                                    </div>

                                        <div class="col-sm-3 multi-horizontal">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.EndOfMonth.FinancialPeriod)
                                                @Html.TextBoxFor(m => m.EndOfMonth.FinancialPeriod, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.EndOfMonth.FinancialPeriod)
                                            </div>
                                        </div>

                                    <div class="col-sm-3 multi-horizontal">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EndOfMonth.NewAssets)
                                            @Html.TextBoxFor(m => m.EndOfMonth.NewAssets, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.EndOfMonth.NewAssets)
                                        </div>
                                    </div>

                                    <div class="col-sm-3 multi-horizontal">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EndOfMonth.Revaluation)
                                            @Html.TextBoxFor(m => m.EndOfMonth.Revaluation, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.EndOfMonth.Revaluation)
                                        </div>
                                    </div>
                                        <div class="col-sm-3 multi-horizontal">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.EndOfMonth.CummB_S)
                                                @Html.TextBoxFor(m => m.EndOfMonth.CummB_S, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.EndOfMonth.CummB_S)
                                            </div>
                                        </div>
                                        <div class="col-sm-3 multi-horizontal">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.EndOfMonth.PL_Acc)
                                                @Html.TextBoxFor(m => m.EndOfMonth.PL_Acc, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.EndOfMonth.PL_Acc)
                                            </div>
                                        </div>
                                    <div class="col-sm-3 multi-horizontal">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EndOfMonth.Insurance)
                                            @Html.TextBoxFor(m => m.EndOfMonth.Insurance, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.EndOfMonth.Insurance)
                                        </div>
                                    </div>
                                    <div class="col-sm-3 multi-horizontal">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EndOfMonth.Inspections)
                                            @Html.TextBoxFor(m => m.EndOfMonth.Inspections, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.EndOfMonth.Inspections)
                                        </div>
                                    </div>
                                        <div class="col-sm-3 multi-horizontal">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.EndOfMonth.RecordScan)
                                                @Html.TextBoxFor(m => m.EndOfMonth.RecordScan, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.EndOfMonth.RecordScan)
                                            </div>
                                        </div>
                                        <div class="col-sm-3 multi-horizontal">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.EndOfMonth.Renewals)
                                                @Html.TextBoxFor(m => m.EndOfMonth.Renewals, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.EndOfMonth.Renewals)
                                            </div>
                                        </div>
                                    <div class="col-sm-3 multi-horizontal">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EndOfMonth.Transfers)
                                            @Html.TextBoxFor(m => m.EndOfMonth.Transfers, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.EndOfMonth.Transfers)
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-sm-3 multi-horizontal">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EndOfMonth.Disposals)
                                            @Html.TextBoxFor(m => m.EndOfMonth.Disposals, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.EndOfMonth.Disposals)
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-sm-12 multi-horizontal" data-for="address">

                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.EndOfMonth.UpdateAccum)Update Accumulated Depreciations for Newly defined Assets
                                        </label>
                                    </div>
                                </div>
                                
                            </div>
                            
                                <div class="col-md-11 multi-horizontal" data-for="address" style="margin-left:40px;">
                                    <div class="form-group">
                                        <label class="form-control-label mbr-fonts-style display-7" for="address-form1-1">Information</label>
                                        <textarea type="text" class="form-control" name="address" data-form-field="Address" id="address-form1-1" style="height:100%; width:100%;"></textarea>
                                    </div>
                                </div>
                            <br />
                            <div class="col-lg-12 form-group">
                                <div class="col-md-2 multi-horizontal" style="margin-left:200px;">
                                    <div class="form-group">

                                        @Html.HiddenFor(m => m.EndOfMonth.Id)
                                        <button id="savebtn" type="submit" class="btn btn-info .js-save">Start</button>

                                    </div>
                                </div>
                                <div class="col-md-1 multi-horizontal">
                                    <div class="form-group">
                                        <button id="delbtn" class='btn btn-info js-delete' data-asset-id=" + data + ">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            

                            </div>
       </div>
                </div>
            </div>
      
    </section>



<script src="js/jquery.js">
</script>
<script src="js/bootstrap.min.js">
</script>
<script type="text/javascript" src="js/hover-dropdown.js">
</script>
<script defer src="js/jquery.flexslider.js">
</script>
<script type="text/javascript" src="assets/bxslider/jquery.bxslider.js">
</script>

<script src="js/jquery.easing.min.js">
</script>
<script src="js/link-hover.js">
</script>


<!--common script for all pages-->
<script src="js/common-scripts.js">
</script>



<script src="js/wow.min.js">
</script>
<script>
      wow = new WOW(
        {
          boxClass:     'wow',      // default
          animateClass: 'animated', // default
          offset:       0          // default
        }
      )
        wow.init();
</script>

}


