@model ADI_FORMS.Models.AssetUsageLog

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>AssetUsageLog</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.FixedAssetId, "FixedAssetId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("FixedAssetId", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FixedAssetId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Trans_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Trans_Date, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Trans_Date)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.StartTime, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StartTime)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EndDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Destination, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Destination)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StaffIdentification, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.StaffIdentification, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StaffIdentification)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>