@model ADI_FORMS.ViewModels.AssetUsageLogViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "AUL"))
{
    @Html.Partial("_BreadCrumb")
    <div class="container">
        <div class="panel-body">
            <div class="row justify-content-center">
                <div class="media-container-column col-lg-12">
                    <div class="row row-sm-offset">
                        @Html.ValidationSummary(true, "Please fix the following errors.", new { @class = "field-validation-error" })
                        <div class="col-md-4 multi-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(m => m.FixedAssetId)
                                @Html.DropDownListFor(m => m.FixedAssetId, new SelectList(Model.FixedAssets, "Id", "Description"), "Select Asset", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-4 multi-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Trans_Date)
                                @Html.TextBoxFor(m => m.Trans_Date, "{0:d MMM yyyy}", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(m => m.StartTime)
                                @Html.TextBoxFor(m => m.StartTime, "{0:d MMM yyyy}", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(m => m.EndDate)
                                @Html.TextBoxFor(m => m.EndDate, "{0:d MMM yyyy}", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Destination)
                                @Html.TextBoxFor(m => m.Destination, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(m => m.StaffIdentification)
                                @Html.TextBoxFor(m => m.StaffIdentification, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6 multi-horizontal">
                            <div class="form-group">

                                @Html.HiddenFor(m => m.Id)
                                <button id="savebtn" type="submit" class="btn btn-info .js-save">Save</button>

                            </div>
                        </div>
                        <br />

                        <div id="addEditUser" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Registered Assets</h4>
                                    </div>
                                    <div class="modal-body">
                                        @* The body of the edit and save dialog comes here *@
                                        <table id="assetslookup" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Asset Description</th>
                                                    <th>Purchased Date</th>
                                                    <th>Cost</th>
                                                    <th>Registered Date</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div id="usageRef" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">
                                 Modal content
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Registered Assets</h4>
                                    </div>
                                    <div class="modal-body">
                                        <table id="Usagelookup" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Asset Description</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/lib")

    <script>
        wow = new WOW(
          {
              boxClass: 'wow',      // default
              animateClass: 'animated', // default
              offset: 0          // default
          }
        )
        wow.init();
    </script>


    <script>
        $(document).ready(function () {
            var table = $("#usagelookup").DataTable(
                 {
                     ajax: {
                         url: "/api/fa",
                         dataSrc: ""
                     },

                     columns: [
                         {
                             data: "fixedAsset.description",
                             render: function (data, type, fixedasset) {
                                 return "<a href = '/aul/edit/" + fixedasset.id + "'>" + fixedasset.description + "</a>";
                             }
                         }
                     ]
                 });
        });
    </script>
    <script>
    $(document).ready(function () {
        var table = $("#assetslookup").DataTable(
             {
                 ajax: {
                     url: "/api/fa",
                     dataSrc: ""
                 },

                 columns: [
                     {
                         data: "description",
                         render: function (data, type, fixedasset) {
                             return "<a href = '/aul/assets/" + fixedasset.id + "'>" + fixedasset.description + "</a>";
                         }
                     },

                     {
                         data: "category.name"

                     },
                     {
                         data: "location.name"

                     },
                     {
                         data: "branch.name"
                     }
                 ]
             });
    });
    </script>
}
