@model ADI_FORMS.ViewModels.AssetsMaintenanceCodeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Save", "AMC"))
{
    @Html.Partial("_BreadCrumb")
    <div class="container panel-body">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-12">
                <div class="row row-sm-offset">
                    @Html.ValidationSummary(true, "Please fix the following errors.", new { @class = "field-validation-error" })



                    <div class="col-md-2 multi-horizontal">
                        <div class="form-group">
                            <label>Look Up Code</label>
                            <input type="text" class="form-control lookup" data-target="#addEditUser" data-toggle="modal" name="LOOKUP" />

                        </div>
                    </div>
                    <div class="col-md-10 multi-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>

                    <div class="col-md-6 multi-horizontal">
                        <div class="form-group">

                            @Html.HiddenFor(m => m.Id)
                            <button id="savebtn" type="submit" class="btn btn-info .js-save">Save</button>

                        </div>
                    </div>
                    <br />

                    <div id="addEditUser" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Defined Codes</h4>
                                </div>
                                <div class="modal-body">
                                    @* The body of the edit and save dialog comes here *@
                                    <table id="codeslookup" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/lib")

    <script>
        wow = new WOW(
          {
              boxClass: 'wow',      // default
              animateClass: 'animated', // default
              offset: 0          // default
          }
        )
        wow.init();
    </script>
    <script>
        $(document).ready(function () {
            var table = $("#codeslookup").DataTable(
                 {
                     ajax: {
                         url: "/api/amc",
                         dataSrc: ""
                     },

                     columns: [
                         {
                             data: "name",
                             render: function (data, type, assetsmaintenancecode) {
                                 return "<a href = '/amc/edit/" + assetsmaintenancecode.id + "'>" + assetsmaintenancecode.name + "</a>";
                             }
                         }
                     ]
                 });
        });
    </script>
}
