@model ADI_FORMS.ViewModels.AssetsTransferDataViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "ATD"))
{
    @Html.Partial("_BreadCrumb")
    <div class="container">
        <div class="panel-body">
            <div class="row justify-content-center">
                <div class="media-container-column col-lg-12">
                    <div class="row row-sm-offset">
                        @Html.ValidationSummary(true, "Please fix the following errors.", new { @class = "field-validation-error" })
                        <div class="row row-sm-offset">
                            <div class="col-md-6 multi-horizontal">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FixedAssetId)
                                    @Html.DropDownListFor(m => m.FixedAssetId, new SelectList(Model.FixedAssets, "Id", "Description"), "Select Asset", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.FixedAssetId)
                                </div>
                            </div>

                            <div class="col-md-6 multi-horizontal">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NewLocation)
                                    @Html.TextBoxFor(m => m.NewLocation, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NewLocation)
                                </div>
                            </div>

                            <div class="col-md-6 multi-horizontal">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NewCompany)
                                    @Html.TextBoxFor(m => m.NewCompany, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NewCompany)
                                </div>
                            </div>

                            <div class="col-md-6 multi-horizontal">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NewBranch)
                                    @Html.TextBoxFor(m => m.NewBranch, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NewBranch)
                                </div>
                            </div>

                            <div class="col-md-6 multi-horizontal">
                                <div class="form-group">

                                    @Html.HiddenFor(m => m.Id)
                                    <button id="savebtn" type="submit" class="btn btn-info .js-save">Save</button>

                                </div>
                            </div>
                            <br />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/lib")

    <script>
        wow = new WOW(
          {
              boxClass: 'wow',      // default
              animateClass: 'animated', // default
              offset: 0          // default
          }
        )
        wow.init();
    </script>
    <script>
        $(document).ready(function () {
            var table = $("#assetslookup").DataTable(
                 {
                     ajax: {
                         url: "/api/fa",
                         dataSrc: ""
                     },

                     columns: [
                         {
                             data: "description",
                             render: function (data, type, fixedasset) {
                                 return "<a href = '/atd/assets/" + fixedasset.id + "'>" + fixedasset.description + "</a>";
                             }
                         },

                         {
                             data: "category.name"

                         },
                         {
                             data: "location.name"

                         },
                         {
                             data: "branch.name"
                         }
                     ]
                 });
        });
    </script>

<script>
    $(document).ready(function () {
        var table = $("#locationslookup").DataTable(
             {
                 ajax: {
                     url: "/api/locations",
                     dataSrc: ""
                 },

                 columns: [
                     {
                         data: "name",
                         render: function (data, type, location) {
                             return "<a href = '/atd/assets/" + location.id + "'>" + location.name + "</a>";
                         }
                     }
                 ]
             });
    });
</script>

<script>
    $(document).ready(function () {
        var table = $("#companieslookup").DataTable(
             {
                 ajax: {
                     url: "/api/companies",
                     dataSrc: ""
                 },

                 columns: [
                     {
                         data: "name",
                         render: function (data, type, company) {
                             return "<a href = '/atd/assets/" + company.id + "'>" + company.name + "</a>";
                         }
                     }
                 ]
             });
    });
</script>

<script>
    $(document).ready(function () {
        var table = $("#brancheslookup").DataTable(
             {
                 ajax: {
                     url: "/api/branches",
                     dataSrc: ""
                 },

                 columns: [
                     {
                         data: "name",
                         render: function (data, type, branch) {
                             return "<a href = '/atd/assets/" + branch.id + "'>" + branch.name + "</a>";
                         }
                     }
                 ]
             });
    });
</script>

}
